@import url(../vendor/normalize.css);
@import url(../vendor/inter.css);
@import url(../vendor/variables.css);

/* Импорт main */
@import url(../blocks/main/main.css);

/* Импорт кнопок */
@import url(../blocks/button/button.css);

/* Импорт page */
@import url(../blocks/page/page.css);
@import url(../blocks/page/__wrapper/__wrapper.css);
@import url(../blocks/page/__container/page__container.css);

/* Импорт header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/_login/header_login.css);
@import url(../blocks/header/_active/header_active.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__wrapper/header__wrapper.css);
@import url(../blocks/header/__text/header__text.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__button-logout/header__button-logout.css);
@import url(../blocks/header/__button-toggle/header__button-toggle.css);
@import url(../blocks/header/__button-lines/header__button-lines.css);
@import url(../blocks/header/__button-toggle/_active/header__button-toggle_active.css);

/* Импорт profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__wrapper/profile__wrapper.css);
@import url(../blocks/profile/__name-edit/profile__name-edit.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/profile/__button-avatar/profile__button-avatar.css);

/* Импорт gallery */
@import url(../blocks/gallery/__list/gallery__list.css);
@import url(../blocks/gallery/__item/gallery__item.css);
@import url(../blocks/gallery/__photo/gallery__photo.css);
@import url(../blocks/gallery/__info/gallery__info.css);
@import url(../blocks/gallery/__title/gallery__title.css);
@import url(../blocks/gallery/__like-wrapper/gallery__like-wrapper.css);
@import url(../blocks/gallery/__button-like/gallery__button-like.css);
@import url(../blocks/gallery/__button-like/_active/gallery__button-like_active.css);
@import url(../blocks/gallery/__button-trash/gallery__button-trash.css);

/* Импорт footer */
@import url(../blocks/footer/__copyright/footer__copyright.css);

/* Импорт popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_type/popup_type_img.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_type/popup__container_type_info.css);
@import url(../blocks/popup/__container/_type/popup__container_type_img.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__heading/_type/popup__heading_type_confirmation.css);
@import url(../blocks/popup/__heading/_type/popup__heading_type_info.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__photo/popup__photo.css);

/* Импортform */
@import url(../blocks/form/form.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__input/_type/form__input_type_error.css);
@import url(../blocks/form/__input/_type/form__input_type_auth.css);
@import url(../blocks/form/__label/form__label.css);
@import url(../blocks/form/__error/form__error.css);
@import url(../blocks/form/__error/_visible/form__error_visible.css);
@import url(../blocks/form/__button-save/form__button-save.css);
@import url(../blocks/form/__button-save/_type/form__button-save_type_auth.css);

/* Импорт auth */
@import url(../blocks/auth/auth.css);
@import url(../blocks/auth/__link/auth__link.css);
@import url(../blocks/auth/__text/auth__text.css);
@import url(../blocks/auth/__title/auth__title.css);
@import url(../blocks/auth/__wrapper/auth__wrapper.css);

/* Импорт error */
@import url(../blocks/error/error.css);
@import url(../blocks/error/__title/error__title.css);
@import url(../blocks/error/__subtitle/error__subtitle.css);
@import url(../blocks/error/__link/error__link.css);