.sign__input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-placeholder-sing);
  padding: 0 0 10px;
  color: var(--color-second);
  font-weight: 500;
  box-sizing: border-box;
}

.sign__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-placeholder-sing);
  opacity: 1;
}